@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@import "~bootstrap/scss/bootstrap";

.delete-btn {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: dodgerblue;
    }
}
